/*
  This is in charge of the timeline
 */


:root {
	--timeline-color: #E7ECEF;
}

/* Once we set dark mode, we can use this */

/* .theme-dark {
	--timeline-color: #565656;

} */

/* .theme-light {
	--timeline-color: #E7ECEF;

} */

.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}

#timeline-container {
    padding-top: 30px;
}

/* add the central line */
.timeline:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 60px;
	width: 3px;
	margin-left: 0px;
	content: "";
	background-color: var(--timeline-color);
}

/* spacing */
.timeline > li:after {
	clear: both;
}
.timeline > li {
    min-height: 100px;
    margin-bottom: 140px;
}
.timeline > li:after, .timeline > li:before {
	display: table;
	content: " ";
}
.timeline:before {
    left: 50%;
}

/* timeline image */
.rounded-circle {
    border-radius: 50%;
    width: 150px;
}

.timeline a .rounded-circle:hover {
    filter: brightness(80%);
}

/* image border */
.timeline > li .timeline-image {
	position: absolute;
	z-index: 100;
	left: 0;
	width: 80px;
	height: 80px;
	margin-left: 0;
	text-align: center;
	color: white;
	border: 7px solid #E7ECEF;
	border-radius: 100%;

	background-color: white;
}

/* card styles for last element */
.timeline > li:last-child {
	margin-bottom: 0;
}

/* left + card styling */
.timeline > li .timeline-panel {
    float: left;
    width: 40%;
    margin: 0px 0px 0px -20px;
    text-align: right;
}
.timeline > li .timeline-image {
    left: 50%;
    width: 150px;
    height: 150px;
    margin-left: -80px;
}
.timeline > li .timeline-panel h4 {
    margin: 0px;
}
/* right card styling */
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    margin: 0px -20px 0px 0px;
    text-align: left;
}
