<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link lang='sass' rel="stylesheet" href="./static/styles/navBar.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/main2.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>About {{ name }}</title>
</head>

<body>
  <div id="navbar">
  <a href="index.html">
    <p style="font-size: 64px;">🌸</p>
  </a>
  <div id="nav-items">
    <div class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="abou">about</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about">Hobbies</a>
    </div>
    <div class="nav-item">
      <a href="javascript:changeTheme()"> <img src="./static/img/sunicon.png" id="sun" class="icon hidden"> </a>
      <a href="javascript:changeTheme()"> <img src="./static/img/moonicon.png" id="moon" class="icon "> </a>
     </div>
  </div>
</div>

    <div class="about">
        <h1>About Me</h1>
        <h2>I am a coffee drinker by day and a monster drinker by night. Did I say I run a lot? Yes, I do. Also Who is Lorem. Yeah Idk who that is.</h2>
    </div>

    <div class="altblock">
        <h1>Lorem Ipsum</h1>
        <div class="split">
            <img class="imgpad" src="/static/img/iphonso.png">
            <div class="paragraph">
                <p>Lorem Ipsum is a simply dummy text of printing and typesetting indusry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>

        </div>

    </div>
</body>
</html>
