<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nothing to see here</title>
    <!-- <link lang='sass' rel="stylesheet" href="./static/styles/home.css"> -->
    <link lang='sass' rel="stylesheet" href="./static/styles/navBar.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/about.css">

    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/logo.png">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">

  <style>


  </style>

  </head>

<body class="theme-light">
  <div id="navbar">
  <a href="index.html">
    <p style="font-size: 64px;">☕️</p>
  </a>
  <div id="nav-items">
    <div class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about">about</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="hobbies">Hobbies</a>
    </div>
    <div class="nav-item">
      <a href="javascript:changeTheme()"> <img src="./static/img/sunicon.png" id="sun" class="icon hidden"> </a>
      <a href="javascript:changeTheme()"> <img src="./static/img/moonicon.png" id="moon" class="icon "> </a>
     </div>
  </div>
</div>

<div class="about">
    <h1>About Me</h1>
    <h2>I am a coffee drinker by day and a monster drinker by night. Did I say I run a lot? Yes, I do. Also Who is Lorem. Yeah Idk who that is.</h2>
</div>

<div class="altblock">
    <h1>Lorem Ipsum</h1>
    <div class="split">
        <img class="imgpad" src="/static/img/iphonso.png">
        <div class="paragraph">
            <p>Lorem Ipsum is a simply dummy text of printing and typesetting indusry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>

    </div>

</div>


</body>


</html>
