<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nothing to see here</title>
    <!-- <link lang='sass' rel="stylesheet" href="./static/styles/home.css"> -->
    <link lang='sass' rel="stylesheet" href="./static/styles/navBar.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/about.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/hobbies.css">



    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/logo.png">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">

  <style>


  </style>

  </head>

<body class="theme-light">
  <div id="navbar">
  <a href="index.html">
    <p style="font-size: 64px;">🌸</p>
  </a>
  <div id="nav-items">
    <div class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about">About</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="hobbies">Hobbies</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="timeline">Timeline</a>
    </div>
    <div class="nav-item">
      <a href="javascript:changeTheme()"> <img src="./static/img/sunicon.png" id="sun" class="icon hidden"> </a>
      <a href="javascript:changeTheme()"> <img src="./static/img/moonicon.png" id="moon" class="icon "> </a>
     </div>
  </div>
</div>

<div class="about">
      <h1>For Fun</h1>
      <h2>"The journey is my home" - Muriel Rukeyser</h2>
  </div>

  <div class="mainblock">
      <h1>World Wide View</h1>
      <h2>Click to discover who I am.</h2>
      <div id="leafletmap"></div>
    </div>

  {% for x in range(profile["hobbies"] | length) %}
    {% if x % 2 == 0 %}
      <div id="hobby{{ x + 1 }}" class="altblock">
        <h1>{{ profile["hobbies"][x]["name"] }}</h1>
        <div class="split">
          {{ profile["hobbies"][x]["imgblock"] | safe }}
          <div class="paragraph">
            {{ profile["hobbies"][x]["description"] | safe }}
          </div>
        </div>
      </div>  
    {% else %}
      <div id="hobby{{ x + 1 }}" class="mainblock">
        <h1>{{ profile["hobbies"][x]["name"] }}</h1>
        <div class="split">
          <div class="paragraph">
            {{ profile["hobbies"][x]["description"] | safe }}
          </div>
          {{ profile["hobbies"][x]["imgblock"] | safe }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

</body>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>

  <script>
    var map = L.map('leafletmap').setView([38.54220, -121.74960], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    {% for x in range(profile["hobbies"] | length) %}
      var marker{{ x + 1 }} = L.marker([{{ profile["hobbies"][x]["loc"] }}]).addTo(map).on("click", () => {
          document.getElementById('hobby{{ x + 1 }}').scrollIntoView();
      });
    {% endfor %}

    //var marker1 = L.marker([38.54220, -121.74960]).addTo(map).on("click", () => {
    //    document.getElementById('hobby1').scrollIntoView();
    //});

  </script>

</html>
