<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nothing to see here</title>
    <!-- <link lang='sass' rel="stylesheet" href="./static/styles/home.css"> -->
    <link lang='sass' rel="stylesheet" href="./static/styles/navBar.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/about.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/hobbies.css">



    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/logo.png">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">

  <style>


  </style>

  </head>

<body class="theme-light">
  <div id="navbar">
  <a href="index.html">
    <p style="font-size: 64px;">☕️</p>
  </a>
  <div id="nav-items">
    <div class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about">about</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="hobbies">Hobbies</a>
    </div>
    <div class="nav-item">
      <a href="javascript:changeTheme()"> <img src="./static/img/sunicon.png" id="sun" class="icon hidden"> </a>
      <a href="javascript:changeTheme()"> <img src="./static/img/moonicon.png" id="moon" class="icon "> </a>
     </div>
  </div>
</div>

<div class="about">
      <h1>For Fun</h1>
      <h2>"The journey is my home" - Muriel Rukeyser</h2>
  </div>

  <div class="mainblock">
      <h1>World Wide View</h1>
      <h2>Click to discover who I am.</h2>
      <div id="leafletmap"></div>
    </div>

  <div id="hobby1" class="altblock">
    <h1>Hobby #1</h1>
    <div class="split">
        <img class="imgpad" src="/static/img/davis.jpg">
        <div class="paragraph">
            <p class="paraa">Lorem Ipsum is a simply dummy text of printing and typesetting indusry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <p class="paraa">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>

    </div>
</div>

<div id="hobby2" class="mainblock">
    <h1>Hobby #2</h1>
    <div class="split">
        <div class="paragraph">
            <p class="paraa">Lorem Ipsum is a simply dummy text of printing and typesetting indusry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <p class="paraa">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <img class="imgpad" src="/static/img/boulder.jpg">
    </div>
</div>

<div id="hobby3" class="altblock">
      <h1>My Jams 🎵</h1>
      <div class="split">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5AghrM3hAuorTe16d3jBZO?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
          <div class="paragraph">
              <p class="paraa">Lorem Ipsum is a simply dummy text of printing and typesetting indusry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <p class="paraa">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          </div>
      </div>
  </div>

<div id="hobby4" class="mainblock">
    <h1>Hobby #4</h1>
    <div class="split">
        <div class="paragraph">
            <p class="paraa">Lorem Ipsum is a simply dummy text of printing and typesetting indusry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <p class="paraa">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <img class="imgpad" src="/static/img/edin.jpg">
    </div>
</div>


</body>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>

  <script src="/static/js/mapscript.js"></script>

</html>
