<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nothing to see here</title>
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">

    <style >
    .hero-wapper {
      display: flex;
      /* justify-content: space-between; */
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 7rem;
      /* background: #212121; */
      position: relative;
      /* margin-top: 10%; */

    }

    .hero-wrapper .hero-text-wrapper {
      width: 40rem;
      max-width: 100%;
      overflow: hidden;
    }

    .hero-wrapper .hero-image-wrapper  {
      overflow: hidden;
    }


    </style>

  </head>

<body class="theme-light">
  <div id="navbar">
  <a href="index.html"><img width="64px" src="./static/img/logo.jpg" alt=""></a>
  <div id="nav-items">
    <div class="nav-item">
      <a class="nav-link" href="work.html">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about.html">about</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about.html">Hobbies</a>
    </div>
    <div class="nav-item">
      <a href="javascript:changeTheme()"> <img src="./static/img/sunicon.png" id="sun" class="icon hidden"> </a>
      <a href="javascript:changeTheme()"> <img src="./static/img/moonicon.png" id="moon" class="icon "> </a>
     </div>
  </div>
</div>

<div class="content">

  <div class="hero-wapper">
    <div class="hero-text-wrapper">
      <h1 id="greeting" >👋 Hi There! I'm Iphonso.</h1>
      <h2>I’m a coffee drinker studying Computer Science at <br> YOOOO</h2>

    </div>

    <div class="hero-image-wrapper">
        <img src="./static/img/iphonso.png" alt="hero-image" style="opacity: 1; transform: translate(0px, 0px);">

    </div>


  </div>

  <div class="">
    <h1 class="padding-above" style="font-size: 40px; text-align: center;">Involvement</h2>

      <p style="text-align: center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>





</div>



</body>


</html>
