<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nothing to see here</title>
    <link lang='sass' rel="stylesheet" href="./static/styles/home.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/timeline.css">

    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">

  <style>


  </style>

  </head>

<body class="theme-light">
  <div id="navbar">
  <a href="index.html">
    <p style="font-size: 64px;">☕️</p>
    <!-- <img width="64px" src="./static/img/logo.jpg" alt=""> -->
  </a>
  <div id="nav-items">
    <div class="nav-item">
      <a class="nav-link" href="work.html">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about.html">about</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about.html">Hobbies</a>
    </div>
    <div class="nav-item">
      <a href="javascript:changeTheme()"> <img src="./static/img/sunicon.png" id="sun" class="icon hidden"> </a>
      <a href="javascript:changeTheme()"> <img src="./static/img/moonicon.png" id="moon" class="icon "> </a>
     </div>
  </div>
</div>

<div class="content">

  <div class="hero-wapper">
    <div class="hero-text-wrapper">
      <h1 id="greeting" >👋 Hi There! I'm Iphonso.</h1>
      <h2 class="headerTwo">I’m a coffee drinker studying Computer Science at <br> YOOOO</h2>

    </div>

    <div class="hero-image-wrapper">
        <img src="./static/img/iphonso.png" alt="hero-image" style="opacity: 1; transform: translate(0px, 0px);">
    </div>

  </div>

  <div class="">
    <h1 class="padding-above" style="font-size: 40px; text-align: center;">Involvement</h2>
      <p style="text-align: center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <br>
  </div>

  <div class="timeline-container">
    <ul class="timeline">

      <li class="timeline-inverted">
      <a class data-toggle="modal" target="_blank" href="">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="./static/img/amazon.jpeg" alt="coolio" /></div></a>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Fall 1970</h4>
          <h4 class="subheading">Founded amazon</h4>
        </div>
        <div class="timeline-body"><p class="text-muted">Bezos!</p></div>
      </div>
    </li>

    <li>
    <a class data-toggle="modal" target="_blank" href="">
      <div class="timeline-image"><img class="rounded-circle img-fluid" src="./static/img/amazon.jpeg" alt="coolio" /></div></a>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4>fall 2008</h4>
        <h4 class="subheading">Apple co-founder</h4>
      </div>
      <div class="timeline-body"><p class="text-muted">Yeah, steve</p></div>
    </div>
  </li>
  <li class="timeline-inverted">
  <a class data-toggle="modal" target="_blank" href="">
    <div class="timeline-image"><img class="rounded-circle img-fluid" src="./static/img/amazon.jpeg" alt="coolio" /></div></a>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4>Summer 2022</h4>
      <h4 class="subheading">Acquired HLH</h4>
    </div>
    <div class="timeline-body"><p class="text-muted">I am MLH</p></div>
  </div>
  </li>
  <li>
  <a class data-toggle="modal" target="_blank" href="">
    <div class="timeline-image"><img class="rounded-circle img-fluid" src="./static/img/amazon.jpeg" alt="coolio" /></div></a>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4>fall 2008</h4>
      <h4 class="subheading">Meta Intern</h4>
    </div>
    <div class="timeline-body"><p class="text-muted">Yeah, steve</p></div>
  </div>
</li>

    </ul>

  </div>

  <div class="cards">

      <div class="padding-above"></div>
      <h1 id="greeting" style="font-size: 40px; text-align: center;">Proyectos</h1>
        <p style="text-align: center;">Estos son pocos de los proyectos que hemos hecho</p>
        <div class="padding-above"></div>
        <a href="gitlet.html">
            <div class="project-card">
                <div class="project">
                    <div class="project-img">
                        <img src="./static/img/pic.png" id="prj-img">
                    </div>
                    <div class="project-desc">
                        <div class="project-tags">
                            <div class="tag">
                                <p id="tag">PHP</p>
                            </div>
                        </div>
                        <h2>metaverse</h2>
                        <p id="desc">back when I cofounded meta, we</p>

                        <div class="view">
                            <p>View Project →</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="padding-above"></div>
        <a href="">
                <div class="project-card">
                    <div class="project">
                        <div class="project-img">
                            <img src="./static/img/pic.png" id="prj-img">
                        </div>
                        <div class="project-desc">
                            <div class="project-tags">
                                <div class="tag">
                                    <p id="tag">PHP</p>
                                </div>
                                <div class="tag">
                                    <p id="tag">PHP?</p>
                                </div>
                                <div class="tag">
                                    <p id="tag">?PHP?</p>
                                </div>
                            </div>
                            <h2>PHP</h2>
                            <p id="desc">A PHP thing that we made</p>

                            <div class="view">
                                <p>View Project →</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

          <div class="padding-above"></div>
          <h1 id="greeting" style="font-size: 40px; text-align: center;">Proyectos</h1>
          <h2 style="text-align: center;">Do you want to collaborate? Or perhaps start something</h2>

          <a href="mailto:angeldzambrano99@gmail.com">
              <p style="text-align:center; text-decoration: underline; padding-top: 10px;">email me</p>
          </a>
          <div class="padding-above"></div>



  </div>

</div>

</body>


</html>
