<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nothing to see here</title>
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">

  </head>

<body class="theme-light">
  <div id="navbar">
  <a href="index.html"><img width="64px" src="./static/img/logo.jpg" alt=""></a>
  <div id="nav-items">
    <div class="nav-item">
      <a class="nav-link" href="work.html">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about.html">about</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about.html">Hobbies</a>
    </div>
    <div class="nav-item">
      <a href="javascript:changeTheme()"> <img src="./static/img/sunicon.png" id="sun" class="icon hidden"> </a>
      <a href="javascript:changeTheme()"> <img src="./static/img/moonicon.png" id="moon" class="icon "> </a>
     </div>
  </div>
</div>
</body>


</html>
