<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Submit with fetch API</title>

  </head>

  <body style="background-color: red;">
    <form id="form">
      <input type="text" name="name" >
      <input type="text" name="email" >
      <input type="text" name="content">
      <button type="submit">Submit</button>
    </form>
     <script>
      const form = document.getElementById('form');

      form.addEventListener('submit', function(e) {
        e.preventDefault();


        const prePayload = new FormData(form);
        const payload = new URLSearchParams (prePayload);


        console.log([...payload])

        fetch('http://206.189.196.47:5000/api/timeline_post', {
          method: "POST",
          body: prePayload,
        })
          .then(res => res.json())
          .then(data => console.log(data))
          .then(err => console.log(err));

      })

    </script>


  </body>
</html>
