<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nothing to see here</title>
    <!-- <link lang='sass' rel="stylesheet" href="./static/styles/home.css"> -->
    <link lang='sass' rel="stylesheet" href="./static/styles/navBar.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/about.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/posts.css">



    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/logo.png">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">

  <style>


  </style>

  </head>

<body class="theme-light">
  <div id="navbar">
  <a href="index.html">
    <p style="font-size: 64px;">🌸</p>
  </a>
  <div id="nav-items">
    <div class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="about">About</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="hobbies">Hobbies</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="timeline">Timeline</a>
    </div>
    <div class="nav-item">
      <a href="javascript:changeTheme()"> <img src="./static/img/sunicon.png" id="sun" class="icon hidden"> </a>
      <a href="javascript:changeTheme()"> <img src="./static/img/moonicon.png" id="moon" class="icon "> </a>
     </div>
  </div>
</div>

  <div class="about">
      <h1>Timeline</h1>
    </div>

    <div class="mainblock">
        <h1>Post</h1>
        <label for="name">Title: </label><input type="text" id="name" autocomplete="off">
        <label for="email">Email: </label><input type="text" id="email" autocomplete="off">
        <label for="content">Content: </label><input type="text" id="content" autocomplete="off">
        <button id="submit" onclick="submitPost()">Submit</button>
    </div>

  <div id="posts"></div>

</body>

<script src="./static/js/timeline.js"></script> 

</html>
